// Variables
$black: #151515;
$black-darker: #121212;
$black-est: #101010;
$white: #e8e5e5;

$red: #b66467;
$orange: #d8a657;
$yellow: #d9bc8c;
$green: #8c977d;
$blue: #8da3b9;
$purple: #a988b0;

@font-face {
  font-family: 'Mona-Sans';
    src: url('fonts/Mona-Sans.woff2') format('woff2 supports variations'),
         url('fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
@font-face {
    font-family: 'Hubot-Sans';
    src: url('fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
         url('fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

$font-header: "Mona-Sans", sans-serif;
$font-body: "Hubot-Sans", sans-serif;

.c_red {
  color: $red;
}
.c_orange {
  color: $orange;
}
.c_yellow {
  color: $yellow;
}
.c_green {
  color: $green;
}
.c_blue {
  color: $blue;
}
.c_purple {
  color: $purple;
}
