/*
  Main
*/
main section {
  margin: 3rem 0; padding: 1rem;
  width: auto;

  background-color: var(--bg); color: var(--fg);

  border-radius: var(--rad);

  box-shadow: var(--shadow);
}
main section * {
  margin: 0 0 0.7rem; padding: 0;
  max-width: 100%; width: auto; min-width: none;

  border-radius: 5px;
}
main section *:last-child {
  margin-bottom: 0;
}
main section img {
  height: auto;
}
.justify-text p {
  text-align: justify;
}

/*
  I hate CSS
*/
#intro {
  text-align: center;
}
#experience img {
  margin: 0 auto;
  display: block;
}
#spotify {
  display: flex;
  flex-direction: column;
}

/*
  Gallery
*/
.gallery-image {
  width: 100%; height: 30rem;
  object-fit: contain;

  background-color: #000;
}

.gallery {
  margin: 0; padding: 0;
  height: 10rem;

  display: flex; flex-direction: row;
  overflow-x: scroll;

  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.gallery:hover {
  cursor: grab;
}
.gallery::-webkit-scrollbar {
  display: none;
}

/*
#gallery::before,#gallery::after {
  content: "";

  width: 5rem; height: 10rem;
  display: block;

  position: absolute; bottom: 1rem;
}
#gallery::before {
  left: 1rem;

  background: linear-gradient(to right, var(--bg) 0%, transparent 100%);
}
#gallery::after {
  right: 1rem;

  background: linear-gradient(to left, var(--bg) 0%, transparent 100%);
}
*/

.gallery img {
  margin: 0 0.5rem;

  height: 10rem; width: 12rem;

  object-fit: cover;

  user-select: none;

	transition: transform 0.2s cubic-bezier(.58,.01,.07,1);
}
.gallery img:hover {
  margin: -0.25rem 0.25rem;
  border: 0.25rem var(--green) solid;
  transform: scale(0.9);
}

.gallery img:first-child {
  margin-left: 0;
}
.gallery img:last-child {
  margin-right: 0;
}
