/*
  Nav
*/
nav {
  margin: auto; padding: 1rem;
  width: auto;

  position: sticky; top: 1rem;

  display: flex; flex-direction: row;
  justify-content: space-between; align-items: center;

  background-color: var(--bg-alt); color: var(--fg-dark);

  border-radius: var(--rad);

  box-shadow: var(--shadow);
}
nav * {
  margin: 0; padding: 0;
}

.nav-logo {
  display: flex; flex-direction: row;
}
.nav-logo img {
  margin: 0; padding: 0;
  height: 2rem; width: auto;

  transform: rotate(-25deg) scale(3.2);

  filter: drop-shadow(1px 0 0 var(--bg-alt))
          drop-shadow(0 1px 0 var(--bg-alt))
          drop-shadow(-1px 0 0 var(--bg-alt))
          drop-shadow(0 -1px 0 var(--bg-alt));
}
.nav-logo h2 {
  margin: 0 0 0 2rem; padding: 0;
  font-size: 28px;
  font-weight: 900;
}
@media (max-width:569px) {
  .nav-logo h2 {
    display: none;
  }
}

.nav-links * {
  margin: 0 0.2rem; padding: 0;

  color: var(--fg-dark);

  text-align: right; text-decoration: none;

  font-weight: bolder;
}
