@import "css/nav.css";
@import "css/main.css";
@import "css/footer.css";

:root {
  --bg: #151515;
  --bg-dark: #0f0f0f;
  --bg-alt: #E8E3E3;

  --h: #8C977D;
  --fg:#E8E3E3;
  --fg-dark: #151515;

  --shadow: 6px 6px 10px #15151588;
  --rad: 15px;

  --orange: #FF7700;
  --orange-alt: #E0863E;
  --green: #8C977D;
}
* {
  font-weight: 400;
}

html {
  margin: 0; padding: 0;

  background-color: #817670;
  background-image: url("images/bg-4.jpg");

  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  margin: 0 auto; padding: 1rem;
  max-width: 969px; width: auto; min-width: none;

  background-color: var(--bg-alt);
  background: none;
}

p,a {
  font-family: "Fira Code", monospace;
}

h1,h2,h3,h4 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  color: var(--h);
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 19px;
}

a {
  color: var(--green);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: var(--orange);
  font-weight: bolder;
}
a:focus {
  color: var(--orange);
}
a:active {
  color: var(--orange-alt);
}
a:visited {
  text-decoration: underline;
}

span {
  display: inline;
}
.carty-colour {
	color: #C29356;
  font-weight: bold;
}
.jeetix-colour {
	color: cadetblue;
  font-weight: bold;
}
.fluffy-colour {
	color: #FF851B;
  font-weight: bold;
}
.mrhdash-colour {
	color: #a58fb6;
  font-weight: bold;
}
.zadok-colour {
	color: #542b00;
  font-weight: bold;
}

.gray-info {
  font-style: italic;
  opacity: 0.6;
  z-index: inherit;
}
.center {
  margin-left: auto; margin-right: auto;
  justify-content: center;
  text-align: center;
}
