@import "css/nav.css";
@import "css/main.css";
@import "css/footer.css";

@font-face {
  font-family: "Rubik", sans-serif;
  src: url(fonts/Rubik.ttf);
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(fonts/LexendDeca.ttf);
}
@font-face {
  font-family: 'Fira Code', monospace;
  src: url(fonts/FiraCode.ttf);
}

:root {
  --bg: #151515;
  --bg-alt: #E8E3E3;

  --h: #8C977D;
  --fg:#E8E3E3;
  --fg-dark: #151515;

  --shadow: 6px 6px 10px #15151588;
  --rad: 15px;

  --orange: #FF7700;
  --orange-alt: #E0863E;
  --green: #8C977D;

  /* refsheet colours */
  --bandana-0: #FF7700;
  --bandana-1: #FFDC00;
  --bandana-2: #00D621;
  --bandana-3: #0088FF;

  --fur-0: #FF851B;
  --fur-1: #FFF3BB;
  --fur-2: #613700;

  --beans: #FEBBEC;
  --eye: #C859C9;
}
* {
  font-family: "Fira Code", monospace;
  font-weight: 450;
}

html {
  margin: 0; padding: 0;

  background-color: var(--bg-alt);
  background-image: url("images/bg-alt.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  margin: 0 auto; padding: 1rem;
  max-width: 969px; width: auto; min-width: none;

  background-color: var(--bg-alt);
  background: none;
}

h1,h2,h3 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  color: var(--h);
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}

a {
  color: var(--green);
}
a:hover {
  color: var(--orange);
  font-weight: bolder;
}
a:focus {
  color: var(--orange);
}
a:active {
  color: var(--orange-alt);
}
a:visited {
  text-decoration: underline;
}

.cartyColour {
	color: #C29356;
  font-weight: bold;
}

.jeetixColour {
	color: cadetblue;
  font-weight: bold;
}

.fluffyColour {
	color: #FB9645;
  font-weight: bold;
}
