@import 'scss/variables';
@import 'scss/grid';

@import 'scss/normalize';

@import 'nav';
@import 'aside';
@import 'wrapper';
@import 'footer';

h1 {
    margin: 0;
    padding: 0;

    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

h2 {
    margin: 0;
    padding: 0;

    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-weight: 600;
}

.error {
    margin: 0;
    padding: 0;

    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        margin: 0;
        padding: 0;

        font-size: 5rem;
        text-align: center;
        font-weight: 700;
    }

    p {
        margin: 0;
        padding: 0;

        font-size: 1.5rem;
        text-align: center;
        font-weight: 400;
    }
}