{% extends 'layout.html' %}
{% block content %}
    <div class="content content-header">
        <p>{{title}}</p>
    </div>

    <div class="content content-list" id="contact">
        <button class="btn btn-blue">
            Twitter
            <i class="ph-twitter-logo"></i>
        </button>
        <button class="btn btn-purple">
            Mastodon
            <i class="ph-linux-logo"></i>
        </button>
        <button class="btn btn-blue">
            Telegram
            <i class="ph-telegram-logo"></i>
        </button>
        <button class="btn btn-yellow">
            Github
            <i class="ph-github-logo"></i>
        </button>
        <button class="btn btn-red">
            Discord
            <i class="ph-discord-logo"></i>
        </button>
    </div>

    <div class="content content-img" id="contact">
        <img src="{{ url_for('static', filename='images/sneak.png') }}" alt="Fluffy the maned wolf art, line art by Shep, colouring by meeee" style="max-width: 500px;">
    </div>
{% endblock %}