{% extends 'layout.html' %}
{% block content %}
    <div class="content" id="about">
        <h2>Special Thanks</h2>
        <p>Jeetix: Helping me with learning how to make websites!</p>
        <p>Carty: Teaching me how to run servers and the networking!</p>
        <p>mrHDash: For the Ref Sheet and most other art on the page!</p>
        <p>Zadok: Silly taidum art seen below!</p>
        <p>Shep: For the free YHC!</p>
    </div>

    <div class="content" id="contact">
        <h2>Stalk me</h2>
        <button class="btn">
            Twitter
            <i class="ph-twitter-logo"></i>
        </button>
        <button class="btn">
            Mastodon
            <i class="ph-linux-logo"></i>
        </button>
        <button class="btn">
            Telegram
            <i class="ph-telegram-logo"></i>
        </button>
        <button class="btn">
            Github
            <i class="ph-github-logo"></i>
        </button>
        <button class="btn">
            Discord
            <i class="ph-discord-logo"></i>
        </button>
    </div>
{% endblock %}