<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leggy land</title>
    <meta name="description" content="Fluffy Bean's amazing website">
    <link rel="icon" href="{{url_for('static', filename='images/taidum.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <nav>
        <a class="{% block nav_home %}{% endblock %}" href="/">Home</a>
        <a class="{% block nav_about %}{% endblock %}" href="/about">About</a>
        <a class="{% block nav_cretura %}{% endblock %}" href="/cretura">Cretura</a>
        <span class="spacer"></span>
        <a class="{% block nav_music %}{% endblock %}" href="/music">Music</a>
    </nav>

    <div class="wrapper">
        {% block content %} {% endblock %}
    </div>

    <div class="toast-container"></div>
</body>
</html>