{% extends 'layout.html' %}
{% block content %}
    <div class="content content-default" id="about">
        <h2>Special thanks to these wonderful cretura</h2>
        <p>Jeetix: Helping me with learning how to make websites!</p>
        <p>Carty: Teaching me how to run servers and the networking!</p>
        <p>mrHDash: For the Ref Sheet and most other art on the page!</p>
        <p>Zadok: Silly taidum art!</p>
        <p>Shep: For the free YHC!</p>
    </div>

    <div class="content content-img">
        <img src="{{url_for('static', filename='images/ny.png')}}" style="max-width: 800px;">
    </div>
{% endblock %}