* {
    box-sizing: border-box;

    font-family: $font-header;
    font-weight: 400;
}

html {
    margin: 0;
    padding: 0;

    background-color: $black;
    color: $white;

    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    background-color: $black;

    scroll-behavior: smooth;
}